@keyframes rotateBorder {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.imageDiv {
    position: relative;
    display: inline-block;
}

.imageDiv::before {
    content: '';
    position: absolute;
    top: -1rem;
    left: -1rem;
    right: -1rem;
    bottom: -1rem;
    border: 0.4rem dashed rgb(37, 136, 207);
    border-radius: 50%;
    animation: rotateBorder 30s linear infinite;
}

.imageDiv img {
    display: block;
    border-radius: 50%;
}
